<% if current_user %>
  <h1>Welcome <%= current_user.username %>!</h1>
<% end %>

<h2>Currently Learning...</h2>

	<% @subjects.each do |subject| %>
		<%= subject.name %><br>
	<% end %>

 <a href="/sessions/<%= @user.id %>/subjects/new">Add new subject</a>

<h2>Archive</h2>

