<form action="/sessions/<%= @session.id %>/subject" method="POST">
  <input type="text" name="subject[name]" placeholder="Subject:">
  <input type="hidden" name="subject[status]" value="active">
  <input type="submit" value="Add Subject">
</form>
